<!DOCTYPE html>
<html>

<head th:replace="layouts/fragmentoprincipal :: head">

</head>

<body class="bodyGaleria">

  <nav th:replace="layouts/fragmentoprincipal :: nav">

  </nav>

 
    <div  id="div2" style="margin-top: 2%;margin-left: 2%;">
      <div class="row ">
        <div class="col-lg-4 ">
          <img src="imagenes/1.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/2.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/3.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4 ">
          <img src="imagenes/4.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/5.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/6.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4 ">
          <img src="imagenes/7.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/14.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/9.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4 ">
          <img src="imagenes/10.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/11.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/12.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-4 ">
          <img src="imagenes/13.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/8.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
        <div class="col-lg-4 ">
          <img src="imagenes/15.jpg" class="img-fluid" style="border-radius:30px;" id="galeriaImg" alt="Responsive image">
        </div>
      </div>
    </div>

    
    <!-- <footer th:replace="layouts/fragmentoprincipal :: footer"></footer> -->


  </body>

</html>

